:root {
  /* a = category-height + facility-height
  /* category/facility-height = 40/60 */
  /* 36px: buttons' height*/
  /* 20px: total gap between div */
  /* 20px: margin top + bottom */
  --a: calc(100dvh - 36px - 20px - 20px);
  --category-height: calc(var(--a) / 2.5);
  --facility-height: calc(var(--category-height) * 1.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main page's styling */
.main-page {
  display: flex;
}
.main-page-button {
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 10px 0;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.no-post-text {
  padding: 20px;
}

/* login page styling */
.loginpage-center-box-div{
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 2rem;
}


/* forum page styling */
.mantine-focus-auto.forum-main-page{
  color: #228be6;
}

/* PostLine.jsx file's styling */
.forumpage-container-box-div {
  display: flex;
  justify-content: end;
  position: relative;
  right: 1rem;
  top: 3rem;
}

/* login page styling */
.loginpage-center-box-div{
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 2rem;
}

/* PostLine.jsx file's styling */
.forumpage-container-box-div {
  display: flex;
  justify-content: end;
  position: relative;
  right: 1rem;
  top: 3rem;
}

.postline-card-group {
  /* display: flex; */
}

.postline-title {
  cursor: pointer;
  word-break: break-word;
  margin-bottom: 12px;
}
.postline-title:hover {
  color: #228be6;
}
.postline-button, .postline-button-admin {
  margin-bottom: 20px;
}
.postline-button-admin {
  margin-left: 1rem;
}
.postline-group-div {
  margin-right: auto;
}
.postline-info-author-time-text {
  display: grid;
  grid-template-columns: 200px auto;
}
.postline-date {
  margin-right: 20px;
}

.postdetail-title, .postdetail-content, .postdetail-comment {
  word-break: break-word;
}

.category-list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* max-height: var(--category-height); */
  height: 225px;
  background-color: #f8f9fa;
  padding: 0 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  ul {
    /* 100%: category-list-container's height */
    /* 30px: heading */
    /* 36px: button's height */
    /* 15px: button's margin top */
    /* 10px: martine button animation */
    height: calc(100% - 30px - 36px - 15px - 10px);
    li {
      margin-bottom: 2px;
    }
  }
  z-index: 10;
}

/* 시설 목록 컨테이너 스타일 (우측 탭) */
.facility-list-container {
  /* height: var(--facility-height); */
  height: calc(100dvh - 60px - 225px);
  background-color: #f8f9fa;
  padding: 8px 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  /* overflow-y: auto; */
  box-sizing: border-box;
}
  
.facility-list {
  height: calc(100% - 30px);
  overflow: auto;
  margin-top: 5px;
}
  
.facility-item {
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
  
.facility-item h4 {
  margin: 0;
  font-size: 16px;
}

.facility-item p {
  font-size: 14px;
  color: #666;
}

.facility-item .edit-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto; /* 버튼을 우측 정렬 */
}

.facility-item .text-content {
  flex: 1; /* 텍스트가 버튼과 이미지를 제외한 공간을 차지 */
  text-align: left; /* 텍스트를 좌측 정렬 */
}

/* modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 가장 위에 표시되도록 설정 */
}

/* modal content */
.modal-content {
  background-color: #ffffff;
  width: 400px; 
  max-width: 90%; /* 작은 화면에선 최대 너비를 90%로 제한 */
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* 오버레이 위에 표시 */
}

.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  width: 30%;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #f0f0f0;
}