

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
}
.main-page-button {
  display: flex;
  margin: 0 10px;
  gap: 20px;
  margin-top: 20px;
}

.no-post-text {
  padding: 20px;
}

.mantine-focus-auto.forum-main-page{
  color: #228be6;
}
/* login page form login button*/
.login-btn.mantine-Button-root {

}

.postline-card-group {
  /* display: flex; */
}

.postline-title {
  cursor: pointer;
  word-break: break-word;
  margin-bottom: 12px;
}
.postline-title:hover {
  color: #228be6;
}
.postline-button {
  margin-bottom: 20px;
}
.postline-group-div {
  margin-right: auto;
}
.postline-info-author-time-text {
  display: grid;
  grid-template-columns: 200px auto;
}
.postline-date {
  margin-right: 20px;
}

.postdetail-title, .postdetail-content, .postdetail-comment {
  word-break: break-word;
}

/* 지도 관련 스타일 */
.map-container {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
}

/* 시설 목록 컨테이너 스타일 (우측 탭) */
.facility-list-container {
  position: fixed;
  top: 40vh;
  right: 0;
  width: 300px;
  height: 60vh;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  box-sizing: border-box;
}
  
.facility-list {
  max-height: 98%;
  overflow-y: auto;
  padding-right: 10px;
}
  
.facility-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
  
.facility-item h4 {
  margin: 0;
  font-size: 16px;
}

.facility-item p {
  font-size: 14px;
  color: #666;
}